#uiPanel {
  font-family: "Inter", "Segoe UI", "Roboto", "Noto Sans", sans-serif;
}

.offcanvas-header{
  background: rgba(50, 50, 50, 0.6);
}

.ui-section button.btn-secondary {
  background: rgba(80, 80, 80, 0.6);
  border: none;
  backdrop-filter: blur(4px);
  font-weight: bold;
  width: 100%;
}

.ui-section-content {
  /* border-left: 2px solid rgba(255, 255, 255, 0.1); */
  background: rgba(65, 65, 65, 0.6);
  padding: 8px;
}

.ui-section-content p,
.ui-section-content button {
  margin-left: 5px;
}

.scene-hierarchy {
  font-family: "Segoe UI", sans-serif;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #ddd;
}

.hierarchy-item {
  display: flex;
  align-items: center;
  /* margin-bottom: 3px; */
  transition: background 0.2s;
  /* padding: 2px 4px; */
  border-radius: 3px;
}

.hierarchy-item:hover {
  background: rgba(255,255,255,0.1);
}

.hierarchy-label {
  color: cadetblue;
  cursor: default;
  user-select: none;
  font-weight: bold;
}
